<%=link_to "Home", users_path,class:"btn btn-primary" %> <br><br>
<div style="background:green !important" class="jumbotron" >

<br>
<h2>User</h2>
<% (0...@user.images.count).each do |image| %>
	<%= image_tag(@user.images[image], style:"width:20%;height:15%") %>
<%end%>
  <hr>
  <p>
    <strong>First_Name:</strong>
    <%=@user.first_name %> <br/>

  </p>
  <p>
    <strong>Last_Name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>City_Name:</strong>
    <%= @user.city_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @user.gender %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @user.category %>
  </p>

  <p>
    <strong>Mobile_NO:</strong>
    <%= @user.mobile_no %>
  </p>

  
</div>


 



